<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>入力</title>
</head>
<body>
	<form method="post" th:action="@{/input}" th:object="${inputForm}">

		<label for="name">名前</label>
		<input type="text" id="name" th:field="*{name}">
		<br>

		<label for="birthday">誕生日</label>
		<input type="date" id="birthday" th:field="*{birthday}">
		<br>

		<label>性別</label>
 		<input type="radio" th:each="item : ${radioGender}" th:text="${item}" th:value="${item}" th:field="*{gender}">
		<!-- このようにも書ける
		<th:block th:each="item : ${radioGender}">
			<input type="radio"th:text="${item}" th:value="${item}" th:field="*{gender}">
		</th:block>
 		-->
		<br>

		<label for="bloodType">血液型</label>
		<select id="bloodType" th:field="*{bloodType}">
			<option th:each="item : ${selectBlood}" th:text="${item}" th:value="${item}"></option>
		</select>
		<br>

		<label>学習内容</label>
		<!--
		<input type="checkbox" th:each="item : ${checkSubject}" th:text="${item}" th:value="${item}" th:field="*{subjects}">
 		-->
		<th:block th:each="item : ${checkSubject}">
			<input type="checkbox"th:text="${item}" th:value="${item}" th:field="*{subjects}">
		</th:block>
		<br>

		<label for="note">備考</label>
		<textarea id="note" th:field="*{note}"></textarea>
		<br>

		<input type="submit" value="送信">
	</form>
</body>
</html>